.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.logar{
  margin-right: auto;
  margin-left: auto;
}

ion-item{
  margin: 10px;

}

ion-icon{
  margin-right: 10px;
}

ion-input{
  position: relative;
  right: 5px;
}


